.card {
    width: 700px;
    height: 300px;
    background: rgb(60, 62, 68);
    margin: 10px;
    position: relative;
    display: flex;
    gap:10px;
    border-radius: 30px;
}

.img {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px ;
}

.name {
    font-size: 3rem;

    font-family:   cursive;
    color: #f1f0f0;

}

.description {
    font-size: 1.8rem;
    color: #f1f0f0;
    text-align: left;
    font-weight: bold;
}

.status {
    color: darkgrey;
}